@use "@/styles/base/variables" as *;
@use "@/styles/base/typography" as *;

.gridItem {
    display: flex;
    flex-direction: column;
    // gap: $spacing-2;
  //   width: 320px;
    margin-bottom: 16px;
  }
  
  .overlaysContainer {
    z-index: 100;
    position: absolute;
    inset: 0;
    // width: 100%;
    // padding: 12px;
  
    // background-color: red;
  
    &:hover {
      .overlayBackground {
        opacity: 1;
      }
      .overlayContent {
        opacity: 1;
      }
    }
  
  
    .overlayContent {
      // z-index: 150;
      position: absolute;
      inset: 0;
      
      display: flex;
    //   align-items: center;
    //   justify-content: center;
    // flex-direction: column;
    padding: $spacing-4;
    flex-direction: column-reverse;
      
        opacity: 0;
    //   background-color: blue;
  
      &Bottom {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        // background-color: var(--c-debug);
        // gap: $spacing-2;
      }
    }
  
    .overlayBackground {
      // z-index: 1;
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.32);
      opacity: 0;
      transition: opacity 0.3s;
  
  
    }
    // display: flex;
    // align-items: center;
    // justify-content: center;
    
    // background-color: rgba(0, 0, 0, 0.32);
    // opacity: 0;
    // transition: opacity 0.3s;
  
    // &:hover {
    //   opacity: 1;
    // }
    // cursor: pointer;
  }
  
  .download {
    @include caption-1;
    // @include caption-1;
    // text-transform: uppercase;
    color: var(--c-on-surface);
    // background-color: var(--c-surface-container-high);
    background-color: #2368EA;
    padding: 6px 12px 6px 6px;
    border-radius: $radius-full;
  
    display: flex;
    gap: 2px;
    align-items: center;
  }
  
  .imageContainer {
    position: relative;
    border-radius: $radius-md;
    overflow: hidden;
  
    background-color: var(--c-container-0);
  
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .infoContainer {
    padding: 4px 0;
    @include caption-1;
  
    display: flex;
    justify-content: space-between;
  
  
    .title {
   
    }
    .tags {
      color: var(--c-on-surface-secondary);
  
      text-transform: capitalize;
    }
    .index {
      color: var(--c-on-surface-subtle);
    }
  
  
  }
  