@use "@/styles/base/variables" as *;
@use "@/styles/base/typography" as *;

@use "@/styles/abstracts/animation" as *;


.section {
  position: sticky; top: 0; z-index: 999;

// background-color: transparent;
// mix-blend-mode: difference;
}

.container {




  div {
    &.groups {
    grid-row: 1;
    @include subtitle-1;
    padding: $spacing-4 0;
    }

    &.groupA {
      grid-column: 1 / 4;
      display: flex;
      align-items: center;
      gap: $spacing-6;
    }
    &.groupB {
      grid-column: 3 / 4;
      display: flex;
      align-items: center;
      // justify-content: center;
    }
    &.groupC {
      grid-column: 4 / 13;
      display: flex;
      align-items: center;
    }
    &.groupD {
      grid-column: 9 / 13;
      display: flex;
      gap: $spacing-6;
      justify-content: right;
      // justify-items: end;
    }
  }
}

.link {
  color: var(--c-on-surface-subtle);

  &:hover {
    color: var(--c-on-surface);
  }
  transition: color $duration-standard;
}

