@use "@/styles/base/variables" as *;
@use "@/styles/base/typography" as *;

.section {
  // Override any inherited styles
}

.container {
//   display: block !important; // Override the grid system for masonry
//   width: 100%;
background-color: gray;
}

.item {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
}

.imageContainer {
    position: relative;
    border-radius: $radius-sm;
    overflow: hidden;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



.infoContainer {
padding: 0 4px 8px 4px;


    .title {
        @include caption-1-bold;
    }
    .tags {
        color: var(--c-on-surface-subtle);
        @include caption-1;
        text-transform: capitalize;
    }
}

