@use "@/styles/base/typography" as *;
@use "@/styles/base/variables" as *;


.button {
    position: relative;
    background-color: var(--c-primary);
    @include label-1-strong;
    padding: 6px 10px;

    color: var(--c-on-primary);
    border-radius: $radius-button;

    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: transparent;
        transition: background-color 0.1s;
      
      }

    &:hover {
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.1);
       
      
      }
    }
  }
