html {
  font-size: 16px;
  // this fixes font size change when iOS switch from portrait to landscape
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  // color: var(--c-debug);
  // background-color: var(--c-debug);
  background-color: var(--c-surface-0);

  // SELECTION COLORS
  //   ::-moz-selection { /* Code for Firefox */
  //   color: var(--c-surface-0);
  //   background: var(--c-on-surface);
  // }

  ::selection {
    color: var(--c-surface-0);
    background: var(--c-on-surface);
  }
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: block;
}

img,
svg,
video,
canvas {
  display: block;
  // max-width: 100%;
  // height: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}
textarea,
input {
  outline: none;
}

sup {
  position: relative;
  margin-left: 0.1em;
  top: -0.05em;
  // top: -0.1em;
}
